* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: #d3d3d3;
  position: absolute;
}

.right-pane {
  width: 100%;
  position: relative;
  text-align: center;
}

.buttonInput {
  width: 50vh;
  margin-top: 0.5em;
}

.textBox {
  width: 100%;
  height: wrap;
  float: left;
}
#textInput {
  height: wrap;
  width: 80%;
  font-size: 3vh;
  float: left;
  font-weight: bold;
}

#textName {
  font-size: 3vh;
  font-weight: bold;
}

#menuBox {
  width: 20%;
  float: left;
}