* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: #d3d3d3;
  position: absolute;
}

.right-pane {
  width: 100%;
  position: relative;
  text-align: center;
}

.buttonInput {
  width: 50vh;
  margin-top: 0.5em;
}

.textBox {
  width: 70vh;
  margin-top: 0.5em;
  height: 4vh;
  margin-right: 2em;
}
#textInput {
  height: 100%;
  width: 100%;
  font-size: 3vh
}

#textName {
  font-size: 3vh;
  font-weight: bold;
}